

.empresa{
    padding: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/*   TEXTO EMPRESA */
.texto-empresa{
    display: flex;
    font-size: 35px;
    font-weight: 700;
}
.texto-empresa strong{
    color: orange;
    font-weight: 700;
}

/*    SISTEMA */
.sistema{
    display: flex;
    
}
.sistema p{
    font-size: 21px;
    font-family: 'Exo 2', sans-serif;
    color: #202022;
    line-height: 1.8;
    
}

